body {
    margin: 0 auto;
    overflow: hidden;
    background: #70e1f5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #70e1f5 , #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#world {
    width: 100%;
    height: 100%;
}